

.shop-card{
    padding: 10px;
    position: relative;
}
.shop-card img{
    width: 100%;
    border-radius: 5px;
    /* height: 286px; */
}

.shop-card{
    height: 540px;
    border: 3px solid teal;
    border-radius: 5px;
}

.product-bottom{
    background-color: #FFE0B3;
    padding: 1px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.product-bottom:hover{
    background-color: orangered;
    color: white;
}

.priceTag{
    font-size: 18px;
    font-weight: 700;
    color: crimson;
}